

 
p{
 
  text-align: left;
}

.flex-container {
  margin-top:9rem;
  padding: 0 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* align-content: space-between; */
  margin-bottom: 4.5rem;

}

.flex-container > div{
    margin-left:2rem;
    width:100%;

}
 .about-text {
  font-size: 1.5rem;
  margin:1rem 0rem;
  line-height: 1.2;
 }
 .about-title{
    margin:1.5rem 0rem;

 }

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #000;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  transition:all 0.5 ease;
}


.btn:hover {
    background-color: var(--meduim-light); 
}

.about-img{
    width:100%;
    padding:1.5rem;
    align-self: flex-start;

}

@media(max-width:992px) {
  .flex-container {
    flex-direction: column;
      padding: 0 2rem;
        margin-top:6rem;


  }
  .flex-container > div {
    margin-left: initial;
}
 .about-text {
  font-size: 1rem;
}
}
@media(max-width:500px) {
  
.about-img{
    width:100%;
    padding:initial;
    align-self: flex-start;

}
}