@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
  --primary-color:#fff;
--secondery-color: #d8dadb;
  --dark-color:rgb(32, 32, 32);
  --dark-background:#000;
  --light-color:#fff ;
  --meduim-light:#b6b6b6;

}
/* :root {
  --primary-color: #fff;
  --dark-color: rgb(42, 42, 42);
} */


body{
    font-family: 'Roboto Condensed', sans-serif;
   background-color: var(--dark-color);
   color:var(--primary-color);
}

a {
    text-decoration: none;
}
img{
    width:100%;
    margin-top:5rem;
}






