@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
  --primary-color:#fff;
  --dark-color:rgb(32, 32, 32);
}



body{
    font-family: 'Roboto Condensed', sans-serif;
   background-color: var(--dark-color);
   color:var(--primary-color);
}

a {
    text-decoration: none;
}
img{
    width:100%;
}






